__pycache__/
*.pkl
*.pyc
*.h5
.env
mlops-env/
node_modules/
model_registry/
data_cleaned.csv
train.csv
test.csv
val.csv
malops_predictions_stress.csv
Maroc_ENV_Features_*.csv
serving/model*
serving/scaler*
orchestrator_log.json
dataset_hashes.json
dataset_scan.json
*.log
data_processed/
models/
*.csv
__pycache__/
*.log
*.pyc
*.log
clearml-env/
clearml/
clearml.conf
